.mtt-article .article {
    margin-top: 80px;
    padding: 0 100px;
    position: relative;
}

.mtt-article .article .lastest-post-title-group {
    position: absolute;
    transform: translateX(-345px) rotate(-90deg);
    width: 600px;
    font-size: 0.65rem;
    font-weight: 1000;
    letter-spacing: 8px;
}

.mtt-article .article .split-wrap {
    display: none;
    margin-bottom: 20px;
    padding-left: calc(50% - 80px);
}

.mtt-article .article .split-wrap .split {
    border-top: 2px solid rgb(221, 224, 223);
    width: 150px;
}

.mtt-article .article-wrap .article-lastest {
    display: flex;
}

.mtt-article .article-wrap .article-lastest>a {
    width: 50%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mtt-article .article-wrap .article-lastest .img-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.mtt-article .article-wrap .article-lastest .thumbnail {
    border-radius: 4rem;
    width: 100%;
    height: 100%;
    position: absolute;
}

.mtt-article .article-wrap .article-lastest .info {
    padding: 35px 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mtt-article .article-wrap .article-lastest .info .tag {
    display: flex;
    margin-bottom: 30px;
}

.mtt-article .article-wrap .article-lastest .info .tag-item {
    background-color: #ededed;
    padding: 10px 15px;
    border-radius: 1.5rem;
    transition: .2s ease;
    transition-property: background-color;
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 700;
    letter-spacing: 3px;
}

.mtt-article .article-wrap .article-lastest .info .tag-item:hover {
    background-color: #e3e3e3;
}

.mtt-article .article-wrap .article-lastest .info .title {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 4rem;
    margin-bottom: 60px;
}

.mtt-article .article-wrap .article-lastest .info .split {
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(221, 224, 223);
    width: 50%;
}

.mtt-article .article-wrap .article-lastest .info .preview {
    font-size: 1.2rem;
    line-height: 1.9rem;
    font-weight: 700;
    padding-right: 80px;
    margin-bottom: 50px;
}

.mtt-article .article-wrap .article-lastest .info .author {
    display: flex;
    align-items: stretch;
}

.mtt-article .article-wrap .article-lastest .info .author .avatar {
    flex-basis: 50px;
    margin-right: 20px;
}

.mtt-article .article-wrap .article-lastest .info .author .avatar>img {
    width: 100%;
    height: 50px;
    border-radius: 50%;
}

.mtt-article .article-wrap .article-lastest .info .author-info .name {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
}

/*======================================== article list =============================================*/

.mtt-article .article-list {
    display: flex;
    margin-top: 80px;
    padding: 0 70px;
}

.mtt-article .article-list .article-list-wrap {
    width: 100%;
}

.mtt-article .article-list .wrap-card {
    transition: .2s ease;
    position: relative;
}

.mtt-article .article-list-1, .article-list-2 {
    display: flex;
    justify-content: space-between;
    min-height: 560px;
    flex-wrap: wrap;
}

.mtt-article .article-list-1 .wrap-card:hover, .article-list-2 .wrap-card:hover {
    transform: translateY(-0.25rem);
}

.mtt-article .article-list-1 .wrap-card>div, .article-list-2 .wrap-card>div {
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 1.5rem;
    height: 100%;
}

.mtt-article .article-list-1 .card-info, .article-list-2 .card-info {
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    height: 100%;
}

.mtt-article .article-list-1 .wrap-card .img-wrap, .article-list-2 .wrap-card .img-wrap {
    position: relative;
    width: 100%;
}

.mtt-article .article-list-1 .wrap-card .img-wrap>img, .article-list-2 .wrap-card .img-wrap>img {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.mtt-article .article-list-1 .title, .article-list-2 .title {
    word-wrap: break-word;
    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: 800;
}

.mtt-article .article-list-1 .author-wrap, .article-list-2 .author-wrap {
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

.mtt-article .article-list-1 .author, .article-list-2 .author {
    word-wrap: break-word;
    font-size: 1rem;
    font-weight: 600;
}

.mtt-article .article-list-1 .author:hover, .article-list-2 .author:hover {
    text-decoration: underline;
}

.mtt-article .article-list-1 .tag, .article-list-2 .tag {
    display: flex;
    padding: 25px 30px;
    position: relative;
    z-index: 1;
}

.mtt-article .article-list-1 .tag-item, .article-list-2 .tag-item {
    background-color: #ededed;
    padding: 10px 15px;
    border-radius: 1.5rem;
    transition: .2s ease;
    transition-property: background-color;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 3px;
}

.mtt-article .article-list-1 .tag-item:hover, .article-list-2 .tag-item:hover {
    background-color: #e3e3e3;
}

.mtt-article .article-list .link-wrap-card {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

/*======================================== article list 1 =============================================*/

.mtt-article .article-list-1 .wrap-card {
    width: 30%;
    margin-top: 40px;
}

.mtt-article .article-list-1 .wrap-card:nth-child(1), .article-list-1 .wrap-card:nth-child(2), .article-list-1 .wrap-card:nth-child(3) {
    margin-top: unset;
}

.mtt-article .article-list-1 .wrap-card:nth-child(4), .article-list-1 .wrap-card:nth-child(5) {
    width: 48%;
}

.mtt-article .article-list-1 .wrap-card .img-wrap {
    padding-top: 100%;
}

.mtt-article .article-list-1 .wrap-card:nth-child(4) .img-wrap, .article-list-1 .wrap-card:nth-child(5) .img-wrap {
    padding-top: 65%;
}

/*======================================== article list 2 =============================================*/

.mtt-article .article-list-2 {
    flex-wrap: wrap;
}

.mtt-article .article-list-2 .wrap-card {
    width: 30%;
    margin-top: 40px;
}

.mtt-article .article-list-2 .wrap-card .img-wrap {
    padding-top: 100%;
}

/*======================================== Load more =============================================*/

.mtt-article .pagination {
    margin-top: 50px;
    text-align: center;
}

.mtt-article .pagination .load-more-button {
    background-color: #f5ab09;
    padding: 30px 20px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 800;
    color: white;
    border-radius: 100px;
    transition: .2s ease;
    transition-property: background-color;
}

.mtt-article .pagination .load-more-button:hover {
    background-color: #dd9a08;
}

.mtt-article .pagination .load-more-button:focus {
    outline: unset;
}

/*=========================REPONSIVE==========================*/

/*=================Lasted post================*/

@media screen and (max-width: 1592px) {
    .mtt-article .article {
        padding: 0 calc(100px - (1432px - 100%));
    }
}

@media screen and (max-width: 1280px) {
    .mtt-article .article-wrap .article-lastest .img-wrap {
        height: 500px;
    }

    .mtt-article .article-wrap .article-lastest .info .title {
        font-size: 2.5rem;
        margin-bottom: 40px;
    }

    .mtt-article .article-wrap .article-lastest .info .split {
        display: none;
    }
    
    .mtt-article .article-wrap .article-lastest .info .preview {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .mtt-article .article .lastest-post-title-group {
        position: unset;
        transform: unset;
        width: unset;
        text-align: center;
        margin-bottom: 20px;
    }

    .mtt-article .article .split-wrap {
        display: block;
    }

    .mtt-article .article-wrap .article-lastest .img-wrap {
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .mtt-article .article {
        margin-top: 60px;
    }

    .mtt-article .article-wrap .article-lastest {
        flex-direction: column;
        align-items: center;
    }

    .mtt-article .article-wrap .article-lastest>a {
        margin-right: unset;
        width: 100%;
    }

    .mtt-article .article-wrap .article-lastest .thumbnail {
        border-radius: 2rem;
    }

    .mtt-article .article-wrap .article-lastest .info {
        width: 100%;
        padding: 20px 30px 35px;
    }

    .mtt-article .article-wrap .article-lastest .info .tag {
        margin-bottom: 20px;
    }

    .mtt-article .article-wrap .article-lastest .info .title {
        font-size: 3.5rem;
        margin-bottom: 20px;
    }

    .mtt-article .article-wrap .article-lastest .info .split {
        display: block;
    }
    
    .mtt-article .article-wrap .article-lastest .info .preview {
        display: block;
        margin-bottom: 20px;
        padding-right: unset;
    }
}

@media screen and (max-width: 480px) {
    .mtt-article .article-wrap .article-lastest .info .title {
        font-size: 2.5rem;
        margin-bottom: 20px;
        line-height: 3rem;
    }

    .mtt-article .article-wrap .article-lastest .info {
        width: 100%;
        padding: 20px 20px 35px;
    }

    .mtt-article .article-wrap .article-lastest .info .author .avatar {
        flex-basis: 40px;
        margin-right: 10px;
    }
    
    .mtt-article .article-wrap .article-lastest .info .author .avatar>img {
        height: 40px;
    }

    .mtt-article .article-wrap .article-lastest .info .author-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .mtt-article .article-wrap .article-lastest .info .author-info .name {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .mtt-article .article-wrap .article-lastest .info .author-info .time {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
}

/*=================Article list================*/

@media screen and (max-width: 1280px) {
    .mtt-article .article-list {
        padding: 0;
    }

    .mtt-article .article-list-1 .title, .article-list-2 .title {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 1024px) {
    .mtt-article .article-list-1, .article-list-2 {
        min-height: 497px;
    }

    .mtt-article .article-list-1 .wrap-card {
        width: 32%;
    }

    .mtt-article .article-list-1 .wrap-card:nth-child(4), .article-list-1 .wrap-card:nth-child(5) {
        width: 49%;
    }

    .mtt-article .article-list-2 .wrap-card {
        width: 32%;
    }

    .mtt-article .article-list-1 .title, .article-list-2 .title {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 768px) {
    .mtt-article .article-list {
        margin-top: unset;
    }

    .mtt-article .article-list-1, .article-list-2 {
        min-height: 382px;
    }

    .mtt-article .article-list-1 .card-info, .article-list-2 .card-info {
        padding: 15px 20px;
    }

    .mtt-article .article-list-1 .tag, .article-list-2 .tag {
        padding: 0 20px 15px;
    }

    .mtt-article .article-list-1 .wrap-card {
        width: 31%;
    }

    .mtt-article .article-list-1 .wrap-card:nth-child(4), .article-list-1 .wrap-card:nth-child(5) {
        width: 48%;
    }

    .mtt-article .article-list-2 .wrap-card {
        width: 31%;
    }
}

@media screen and (max-width: 640px) {
    .mtt-article .article-list-1 .wrap-card:nth-child(3), .article-list-1 .wrap-card:nth-child(4) {
        margin-top: 20px;
    }

    .mtt-article .article-list-1 .wrap-card:nth-child(4) .img-wrap {
        padding-top: 100%;
    }

    .mtt-article .article-list-1 .wrap-card {
        width: 48%;
    }

    .mtt-article .article-list-1 .wrap-card:nth-child(5) {
        width: 100%;
        margin-top: 20px;
    }

    .mtt-article .article-list-2 {
        margin-top: unset;
    }

    .mtt-article .article-list-2 .wrap-card {
        width: 48%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 480px) {
    .mtt-article .article-list-1 .wrap-card:nth-child(2), .article-list-1 .wrap-card:nth-child(3) {
        margin-top: 20px;
    }

    .mtt-article .article-list-1 .wrap-card {
        width: 100%;
    }

    .mtt-article .article-list-1 .wrap-card:nth-child(4) {
        width: 100%;
    }

    .mtt-article .article-list-2 .wrap-card {
        width: 100%;
    }
}