.mtt-article .top-feature {
    margin-top: 40px;
    position: relative;
}

.mtt-article .top-feature-wrap {
    display: flex;
    justify-content: space-between;
}

.mtt-article .top-feature-wrap>div {
    width: 15%;
    height: auto;
    border-radius: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    transition: .2s ease;
}

.mtt-article .top-feature-wrap>div:hover {
    transform: translateY(-0.25rem);
}

.mtt-article .top-feature-wrap .img-wrap {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.mtt-article .top-feature-wrap .img-wrap>img {
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.mtt-article .top-feature-wrap .card-info {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.mtt-article .top-feature-wrap .title {
    word-wrap: break-word;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 800;
    margin-top: 10px;
}

.mtt-article .top-feature-wrap .author-wrap {
    margin-top: 10px;
}

.mtt-article .top-feature-wrap .author {
    word-wrap: break-word;
    font-size: 0.875rem;
    font-weight: 600;
}

.mtt-article .top-feature-wrap .author:hover {
    text-decoration: underline;
}

.mtt-article .top-feature .title-group {
    position: absolute;
    transform: translateX(-130px) rotate(-90deg);
    width: 175px;
    font-size: 0.65rem;
    font-weight: 1000;
    letter-spacing: 8px;
}